* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../img/12.png");
  opacity: 80%;
  margin: 0px 40px;
}
header div {
  padding: 10px;
  margin-left: 40px;
}
header div h1 {
  color: white;
}
header div h2 {
  color: rgb(8, 212, 100);
  padding-bottom: 5px;
}
header div p {
  width: 400px;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}
header div button {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(12, 166, 81);
  color: white;
  font-size: 17px;
  font-weight: bold;
}

footer {
  background-color: rgb(12, 166, 81);
  border-top: rgb(255, 94, 0) solid 2px;
}
footer p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.localesTotal {
  display: flex;
  justify-content: center;
}
.localesTotal .local {
  width: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(8, 212, 100);
  border-radius: 5px;
  margin: 20px 0px;
}
.localesTotal .local img {
  display: flex;
  justify-content: start;
  border-radius: 5px;
  height: 250px;
}
.localesTotal .local h3 {
  font-size: 22px;
  margin: 20px 0px;
  margin-left: 30px;
}
.localesTotal .local h4 {
  font-size: 20px;
  margin: 20px 0px;
  margin-left: 24px;
  color: white;
}
.localesTotal .local .cajitaHorarios {
  margin: 20px 40px;
}

.nosotros {
  display: flex;
  justify-content: center;
}
.nosotros .nosotrosTarjeta {
  flex-direction: column;
  text-align: center;
  width: 500px;
}
.nosotros .nosotrosTarjeta h3 {
  color: rgb(14, 199, 100);
}
.nosotros .nosotrosTarjeta p {
  margin: 10px;
}
.nosotros .nosotrosTarjeta img {
  width: 80%;
  border-radius: 5px;
}

.contact {
  display: flex;
  justify-content: center;
}
.contact .contacto {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 550px;
  background-color: rgb(8, 212, 100);
  border-radius: 20px;
}
.contact .contacto .contactoLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
.contact .contacto .contactoLabels .contactoUno {
  padding: 10px 0px;
  font-weight: bold;
}
.contact .contacto .contactoLabels .contactoDos {
  padding: 10px 0px;
  font-weight: bold;
}
.contact .contacto .contactoLabels .contactoTres {
  padding: 10px 0px;
  font-weight: bold;
}
.contact .contacto .contactoLabels .contactoCuatro {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  font-weight: bold;
}
.contact .contacto .contactoLabels .contactoCuatro label {
  padding: 5px 0px;
}
.contact .contacto .contactoTelefonos {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.contact .contacto .contactoTelefonos .contactoP {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 30px 0px;
}
.contact .contacto .contactoTelefonos .contactoCinco {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}