header {
    background-image: url("../img/12.png");
    opacity: 80%;
    margin: 0px 40px;
    div {
        padding: 10px;
        margin-left: 40px;;
        h1 {
            color: white;
        }
        h2 {
            color: $colorCuatro;
            padding-bottom: 5px;
        }
        p {
            width: 400px;
            color: white;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        button {
            width: 150px;
            height: 40px;
            margin-bottom: 20px;
            border: 0;
            border-radius: 5px;
            background-color: $colorUno;
            color: white;
            font-size: 17px;
            font-weight: bold;
        }
    }
}